* {
    box-sizing: border-box;
}

html {
    --user-photo-size: 75px;
}

.userList {
    padding: 15px;
}

.userListItem {
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: o o 5px grey;
}

.userImageWrapper {
    width: var(--user-photo-size);
    height: var(--user-photo-size);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid purple;
}

.userImageWrapper img {
    width: 100%; /*From Parent Element*/
    height: 100%;
    object-fit: cover;
}

.userName {
    
}

.userDescription {

}

.trashBtn {
    margin-left: auto;
    border: none;
    background-color: transparent;
    color: grey;
    font-size: 32px;
}

.trashBtn:hover {
    color: red;
    cursor: pointer;
}